<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
   <div class="container d-flex justify-content-center" id="app">
    <div class="card mt-3 shadow-sm w-100">
        <div class="card-header bg-light">
            <h4>To Do List</h4>

        </div>
        <div class="card-body">
            <div class="input-container mt-3">
                <input type="text" value="" class="form-control" name="ToDo" placeholder="Enter task" v-model="message" @keyup.enter="add">
            </div>
            <ul class="list-group mt-3">
                <li class="list-group-item d-flex align-item-center justify-content-between" v-for="(list,index) in list">
                    <span class="message">TODO</span>
                    <!-- <span class="message">{{lists}}</span> -->
                    <div class="btn-group">
                        <button class="btn btn-danger btn-sm " type="button" @click="remove(index)">Delete</button>&nbsp;
                         <button class="btn btn-success btn-sm " type="button" @click="edit(index)">Edit</button>


                    </div>
                </li>
            </ul>
        </div>

    </div>

   </div>

   <script>
    var list = new Vue
    ({
        data()
        {
            return{
                message:" ",
                editing:false,
                editingId:0,
                list:["Facebook","Google"]
            }
        },
        methods:{
            add:function() 
            {
                if (this.message !=="")
                {
                    if(this.editing)
                    {
                        this.lists[this.editingId] = this.message,
                        this.message = "",this.editing = false

                    }
                    else
                    {
                        this.lists.push(this.message)
                        this.message= " "
                    }

                    

                }
            },
            remove:function() 
            {
                this.lists.splice(index, 1)
            },
            edit:function()
             {
                this.message=this.lists[index],
                this.editind=true,this.editingId=index

            }
        }
    }).$mount("#app")
   </script>

</body>
</html>
